@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-dark">
    <h1 class="display-4">Welcome Fredrik!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"class="text-secondary">building Web apps with ASP.NET Core</a>.</p>
</div>
